RewriteEngine On

RewriteRule ^poll-([a-z0-9\-]+)-([A-Z0-9\-]+).html$ index.php?page=poll&id=$2 [L]
RewriteRule ^poll--([A-Z0-9\-]+).html$ index.php?page=poll&id=$1 [L]
RewriteRule ^page-([^/\.]+).html$ index.php?page=$1 [L]